@model List<EmployeeManagementMVC.Models.Employee>
@{
	ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<p> 
	<a class="btn btn-primary" asp-controller="Employee" asp-action="Create">Add New Employee</a>
</p>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Full Name</th>
			<th>Email</th>
			<th>Department</th>
			<th>Hire Date</th>
			<th>Salary</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Count < 0)
		{
		   <h3>No record found</h3>
		}
		else
		{
			@foreach (var emp in Model)
			{
				<tr>
					<td>@emp.FirstName @emp.LastName</td>
					<td>@emp.Email</td>
					<td>@emp.Department</td>
					<td>@emp.HireDate.ToShortDateString()</td>
					<td>@emp.Salary.ToString("C")</td>
					<td>
						<a asp-action="Details" asp-route-id="@emp.Id" class="btn btn-info btn-sm">Details</a>
						<a asp-action="Edit" asp-route-id="@emp.Id" class="btn btn-warning btn-sm">Edit</a>
						<a asp-action="Delete" asp-route-id="@emp.Id" class="btn btn-danger btn-sm">Delete</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
